@tailwind base;

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter.ttf");
}
@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand.ttf");
}
// h1 {
//     @apply text-2xl;
// }
// h2 {
//     @apply text-xl;
// }
// h3 {
//     @apply text-lg;
// }
// a {
//     @apply text-blue-600 underline;
// }

@tailwind components;
@tailwind utilities;
