@tailwind base;

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Thin.ttf");
    font-weight: 100;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-ExtraLight.ttf");
    font-weight: 200;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Light.ttf");
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Medium.ttf");
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-SemiBold.ttf");
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-ExtraBold.ttf");
    font-weight: 800;
    font-display: fallback;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Black.ttf");
    font-weight: 900;
    font-display: fallback;
}
@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-Light.ttf");
    font-weight: 100;
    font-display: fallback;
}
@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-Regular.ttf");
    font-weight: 200;
    font-display: fallback;
}
@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-Medium.ttf");
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-SemiBold.ttf");
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-Bold.ttf");
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../assets/fonts/JosefinSans-Bold.ttf");
    font-weight: 700;
    font-display: fallback;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../assets/fonts/JosefinSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}
// h1 {
//     @apply text-2xl;
// }
// h2 {
//     @apply text-xl;
// }
// h3 {
//     @apply text-lg;
// }
// a {
//     @apply text-blue-600 underline;
// }

@tailwind components;
@tailwind utilities;
